<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Login App </title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav>
      <h4> Sistema de Login </h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>

    <div class="d-flex justify-content-center container mt-4">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="avatar-ctn">
              <img
                src="/avatar.png"
                class="avatar"
                alt="user profile picture"
              />
            </div>
            <div class="card-body justify-content-center">
              <h5 class="card-tilte"> Haria Othon </h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut
                vestibulum neque. Nullam congue lorem ac ipsum ornare, id
                pellentesque dolor elementum. Pellentesque pulvinar elit in
                sollicitudin luctus. Etiam quis dui id lacus sagittis gravida
                aliquet in magna. Maecenas non egestas velit. Vivamus tortor
                augue, pretium at mollis quis, viverra at erat. Mauris eros
                nisi, viverra sed lacus sed, pellentesque lacinia ipsum. Donec
                odio orci, bibendum eu augue quis, gravida viverra risus. Donec
                eleifend nisi eu tortor scelerisque, vel lobortis libero
                venenatis. Morbi tempor lorem neque. Duis scelerisque metus
                mattis aliquam fermentum.
              </p>
              <a href="#" class="btn btn-primary"> haria.othon93@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="card text-center">
            <div class="card-header">
              Profile Page
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Hey Haria, bem vindo de volta!!
              </h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. In ut vestibulum neque. Nullam congue lorem ac
                ipsum ornare, id pellentesque dolor elementum. Pellentesque
                pulvinar elit in sollicitudin luctus. Etiam quis dui id lacus
                sagittis gravida aliquet in magna. Maecenas non egestas velit.
                Vivamus tortor augue, pretium at mollis quis, viverra at erat.
                Mauris eros nisi, viverra sed lacus sed, pellentesque lacinia
                ipsum. Donec odio orci, bibendum eu augue quis, gravida viverra
                risus. Donec eleifend nisi eu tortor scelerisque, vel lobortis
                libero venenatis. Morbi tempor lorem neque. Duis scelerisque
                metus mattis aliquam fermentum.
              </p>
              <a href="#" class="btn btn-primary"> Vai pra algum lugar</a>
            </div>
            <div class="card-footer text-muted"> Sistema de Login </div>
          </div>
        </div>
      </div>

    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>

</html>